In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [66]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline

from sklearn.model_selection import cross_val_score

In [67]:
df = pd.read_csv("Carmudi_PhilKotse_used_cars.csv",encoding='utf8')

### Feature Engineering

In [68]:
df['Age']=2019-df['Year of Manufacture']

In [69]:
df.head()

,Website,Title,Price,Brand,Model,Year of Manufacture,Condition,Transmission,Color,Mileage (in km),Body Type,Version,Description,Age
0,PhilKotse,Red Chevrolet Cruze 2012 Automatic Gasoline fo...,299000.0,Chevrolet,Cruze,2012,Used,Automatic,NaN,60000.0,NaN,Top of the line,Automatic Transmission Chevrolet Cruze 2012 - ...,7
1,PhilKotse,White Chevrolet Trax 2018 Automatic Gasoline a...,895000.0,Chevrolet,Trax,2018,Used,Automatic,NaN,12000.0,NaN,LT,Repriced from 948K! NOW ONLY 895K! 2018 Chevro...,1
2,PhilKotse,Sell Used 2018 Chevrolet Sail Automatic at 600...,450000.0,Chevrolet,Sail,2018,Used,Automatic,NaN,6000.0,NaN,LT,2018 CHEVROLET SAIL Automatic Transmission 6tk...,1
3,PhilKotse,Used 2011 Chevrolet Captiva Automatic Diesel f...,468000.0,Chevrolet,Captiva,2011,Used,Automatic,NaN,87000.0,NaN,4x2 AT Diesel,2011 Chevrolet Captiva 4x2 AT Diesel Showroom ...,8
4,PhilKotse,Sell Blue 2017 Chevrolet Trailblazer Diesel Au...,1158000.0,Chevrolet,Trailblazer,2017,Used,Automatic,NaN,8000.0,NaN,2.8 LT 4X2,2017 Chevrolet Trailblazer 2.8 LT 4X2 Diesel A...,2

### Remove Color from df

In [70]:
no_color_df = df.drop('Color',axis=1)

In [71]:
no_color_df.head()

,Website,Title,Price,Brand,Model,Year of Manufacture,Condition,Transmission,Mileage (in km),Body Type,Version,Description,Age
0,PhilKotse,Red Chevrolet Cruze 2012 Automatic Gasoline fo...,299000.0,Chevrolet,Cruze,2012,Used,Automatic,60000.0,NaN,Top of the line,Automatic Transmission Chevrolet Cruze 2012 - ...,7
1,PhilKotse,White Chevrolet Trax 2018 Automatic Gasoline a...,895000.0,Chevrolet,Trax,2018,Used,Automatic,12000.0,NaN,LT,Repriced from 948K! NOW ONLY 895K! 2018 Chevro...,1
2,PhilKotse,Sell Used 2018 Chevrolet Sail Automatic at 600...,450000.0,Chevrolet,Sail,2018,Used,Automatic,6000.0,NaN,LT,2018 CHEVROLET SAIL Automatic Transmission 6tk...,1
3,PhilKotse,Used 2011 Chevrolet Captiva Automatic Diesel f...,468000.0,Chevrolet,Captiva,2011,Used,Automatic,87000.0,NaN,4x2 AT Diesel,2011 Chevrolet Captiva 4x2 AT Diesel Showroom ...,8
4,PhilKotse,Sell Blue 2017 Chevrolet Trailblazer Diesel Au...,1158000.0,Chevrolet,Trailblazer,2017,Used,Automatic,8000.0,NaN,2.8 LT 4X2,2017 Chevrolet Trailblazer 2.8 LT 4X2 Diesel A...,2

### Categorical to Numerical

In [72]:
cat_df = df[['Brand','Model','Transmission','Body Type']]
cat_df.head()

       Brand        Model Transmission Body Type
0  Chevrolet        Cruze    Automatic       NaN
1  Chevrolet         Trax    Automatic       NaN
2  Chevrolet         Sail    Automatic       NaN
3  Chevrolet      Captiva    Automatic       NaN
4  Chevrolet  Trailblazer    Automatic       NaN

In [73]:
cat_df=pd.get_dummies(cat_df)
cat_df.head()

,Brand_Aston Martin,Brand_Audi,Brand_BMW,Brand_BYD,Brand_Bentley,Brand_Cadillac,Brand_Chevrolet,Brand_Chrysler,Brand_Dodge,Brand_Ferrari,...,Transmission_Manual,Transmission_Shiftable Automatic,Body Type_Convertible,Body Type_Coupe / Roadster,Body Type_Hatchback,Body Type_SUV / MPV,Body Type_Sedan,Body Type_Truck,Body Type_Van,Body Type_Wagon (Estate)
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
cat_df.shape

(20586, 638)

### X and Y labeling

In [76]:
X=no_color_df.drop(['Price','Website','Description'],axis=1)
y=no_color_df['Price']

In [78]:
X.head()

,Title,Brand,Model,Year of Manufacture,Condition,Transmission,Mileage (in km),Body Type,Version,Age
0,Red Chevrolet Cruze 2012 Automatic Gasoline fo...,Chevrolet,Cruze,2012,Used,Automatic,60000.0,NaN,Top of the line,7
1,White Chevrolet Trax 2018 Automatic Gasoline a...,Chevrolet,Trax,2018,Used,Automatic,12000.0,NaN,LT,1
2,Sell Used 2018 Chevrolet Sail Automatic at 600...,Chevrolet,Sail,2018,Used,Automatic,6000.0,NaN,LT,1
3,Used 2011 Chevrolet Captiva Automatic Diesel f...,Chevrolet,Captiva,2011,Used,Automatic,87000.0,NaN,4x2 AT Diesel,8
4,Sell Blue 2017 Chevrolet Trailblazer Diesel Au...,Chevrolet,Trailblazer,2017,Used,Automatic,8000.0,NaN,2.8 LT 4X2,2

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=30)

In [81]:
#Set the value of K
k = 3

#Instatiate the model
knn = KNeighborsRegressor(n_neighbors=k)

#Fit the model to the training set
knn.fit(X_train,y_train)

ValueError: could not convert string to float: 'Mitsubishi Montero Sport 2010 Automatic Diesel for sale in Mandaluyong'